<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Page</title>
    <style>
        /* Добавьте свои стили здесь */
    </style>
</head>
<body>
<h1>Category Page</h1>

{% if category_list %}
<ul>
    {% for category in category_list %}
    <li>{{ category.category }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No categories available.</p>
{% endif %}

{% if category_url %}
<h2>Editing Category: {{ category_url }}</h2>
{% else %}
<h2>Add New Category</h2>
{% endif %}

<form id="categoryForm" onsubmit="submitForm(event)">
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" value="{{ old_category.category }}" required>
    <br>
    <label for="color">Color:</label>
    <input type="text" id="color" name="color" value="{{ old_category.color }}" required>
    <br>
    <button type="submit">Save Changes</button>
</form>

<script>
    function submitForm(event) {
        event.preventDefault();
        const formData = {
            category: document.getElementById('category').value,
            color: document.getElementById('color').value,
            restaurant: '{{ restaurant }}',
            category_url: '{{ category_url }}',
        };
        sendFormData(formData);
    }

    function sendFormData(formData) {
        fetch('/admin_panel/{{ restaurant }}/category/{{ category_url }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            window.location.reload();
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Error occurred. Please try again.');
        });
    }
</script>
</body>
</html>

